<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">

<!--    With a "Relative Path", RouterModule always appends the path you specify in the routerLink to the end of your current path. -->
<!--    <a routerLink="servers">Reload Page</a>-->
<!--    "./servers" === "servers" === Relative Paths -->

<!--    "Absolute Path" -->
<!--    <a routerLink="/servers">Reload Page</a>-->

<!--    <br>-->

<!--    <a routerLink="../servers">Reload Page</a>-->
<!--    Go up one segment and then append 'servers'-->

<!--    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>-->
<!--    <app-edit-server></app-edit-server>-->
<!--    <hr>-->
<!--    <app-server></app-server>-->

    <router-outlet></router-outlet>
  </div>
</div>

